* {
    margin: 0px;
    background-color: white;
    font-family: helvetica;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    background-color: #000;
    
  }
  .header p {
    color: white;
    background-color: #000;
    align-self: center;
  }
  .header p .logo {
    height: 35px;
    width: 45px;
  }
  .header #tickets {
    margin-right: 20px;
  }
  